<div data-role="view" data-title="View" data-layout="main" data-model="app.principal" data-show="app.principal.onShow" data-after-show="app.principal.afterShow" id="principalScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.principal.title"></span>

        </div>
    </header>

    <div class="content">
		<div class="row">
			<div class="col -align-center">
				<p class="label u-color-grey">TODO LIST</p>
				<ul id="todoItems" class="list">
                    
                </ul>
			</div>
		</div>
	</div>
    <div id="overlay" class="overlay" style="display: none;"></div>

    <!-- START_CUSTOM_CODE_principal -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_principal -->
</div>